/*page*/

body {
  max-width: 815px;
  background: rgba(0, 0, 0, 1);
  color: rgb(0, 0, 0);
  margin: 30px;
}


/*header*/

#header img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#header {
  background: rgb(0, 0, 0);
}


/* Navigation */

nav {
  position: fixed;
  color: white;
  font-size: 1.2em;
}

nav ul {
  max-width: 815px;
  list-style-type: none;
  display: flex;
  background: rgba(110, 133, 159, 0.9);
  background position: cover;
}

nav li {
  margin-right: 20px;
}

nav a {
  padding-bottom: 3px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}

#fixed_top_scroll {
  position: fixed;
  padding: 7px;
  margin: 0auto;
}

#no_display_scroll {
  border-radius: 5px;
  padding-top: 2px;
  background: none;
}

#sub_menu {
  display: none;
}

#logo img {
  margin-left: 10px;
  border-radius: 5px;
}

#logo img:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}


/*section*/

section {
  margin-top: 105px;
}


/* article */

article {
  position: absolute;
  background: white;
  width: 70%;
  max-width: 550px;
  box-shadow: 0px 2px 5px grey;
  border-radius: 12px;
  padding: 10px, 5px, 10px, 5px;
  text-align: justify;
}

div {
  background: rgba(255, 48, 48, .4);
  background: -o-linear-gradient(bottom, rgba(255, 48, 48, 1), rgba(255, 255, 0, .8));
  background: -webkit-linear-gradient(bottom, rgba(255, 48, 48, 1), rgba(255, 255, 0, .8));
  background: -moz-linear-gradient(bottom, rgba(255, 48, 48, 1), rgba(255, 255, 0, .8));
}

p {
  opacity: 0;
}

.performance_description p {
  opacity: 1;
}


/*aside*/

aside {
  float: right;
  position relative;
  box-shadow: 0px 2px 5px #1c1a19;
  background: rgba(0, 100, 200, 0.8);
  border-radius: 5px;
  padding-left: 10 px;
  color: white;
  text-align: center;
  height: 500px;
  width: 27%;
  max-width: 240px text-align: justify;
}

aside h2 {
  text-align: center;
}

aside li {
  list-style-type: none;
  text-align: center;
  padding-right: 40px;
}

aside img {
  padding: 5px;
}

/*footer*/
