/*page*/

body {

  background: rgba(0, 0, 0, 1);
  color: rgb(0, 0, 0);
  margin: 30px;
}


/*header*/

#header img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#header {
  background: rgb(0, 0, 0);
}

#logo {
  float: left;
  position: relative;
  max-width: 30%;
}

#lion {
  float: right;
  position relative;
  max-width: 70%;
}
/* Navigation */

nav {
  position: fixed;
  color: white;
  font-size: 1.2em;
}

nav ul {
  list-style-type: none;
  display: flex;
  background: rgba(255, 17, 1, .4);
  background: -o-linear-gradient(bottom, rgba(255, 17, 1, 1), rgba(243, 214, 23));
  background: -webkit-linear-gradient(bottom, rgba(255, 17, 1, 1), rgba(243, 214, 23, .8));
  background: -moz-linear-gradient(bottom, rgba(255, 17, 1, 1), rgba(243, 214, 23, .8));
}

nav li {
  margin-right: 20px;
}

nav a {
  padding-bottom: 3px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}

#fixed_top_scroll {
  position: fixed;
  padding: 7px;
  margin: 0auto;
}

#no_display_scroll {
  border-radius: 5px;
  padding-top: 2px;
  background: none;
}

#sub_menu {
  display: none;
}

#logo img {
  margin-left: 10px;
  border-radius: 5px;
}

#logo img:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}


/*section*/

section {
  margin-top: 105px;
}


/* article */

article {
  float: left;
  position: relative;
  background: rgba(255, 255, 255, .95);
  width: 70%;
  max-width: 550px;
  box-shadow: 0px 4px 10px grey;
  border-radius: 12px;
  padding: 10px, 5px, 10px, 5px;
  text-align: justify;
  margin: 0px auto;
}

div {
  background: rgba(255, 17, 1, .4);
  background: -o-linear-gradient(bottom, rgba(255, 17, 1, 1), rgba(243, 214, 23));
  background: -webkit-linear-gradient(bottom, rgba(255, 17, 1, 1), rgba(243, 214, 23, .8));
  background: -moz-linear-gradient(bottom, rgba(255, 17, 1, 1), rgba(243, 214, 23, .8));
  max-width: 90%;
  margin: 0px auto;
}

p {
  opacity: 0;
}

.performance_description p {
  opacity: 1;
}


/*aside*/

aside {
  float: right;
  position: relative;
  box-shadow: 0px 4px 10px grey;
  background: rgba(130, 130, 130, 0.8);
  border-radius: 5px;
  padding-left: 10 px;
  color: white;
  text-align: center;
  height: 500px;
  width: 30%;
  max-width: 240px text-align: justify;
}

aside h2 {
  text-align: center;
}

aside li {
  list-style-type: none;
  text-align: center;
  padding-right: 40px;
}

aside img {
  padding: 5px;
}


/*footer*/

footer {
  color: rga(255, 255, 255);
}
